<div class="container">
  <h2>All <%= @kind.name %> Snippets</h2>
  <% @kind.snippets.each do |snippet| %>
    <%= link_to snippet.title, snippet_path(snippet) %>
    <br />
  <% end %>
  <hr />
  <%= link_to "All Snippets", snippets_path %>
</div>
