@import "bootstrap-sprockets";
@import "bootstrap";

form div {
  margin: 15px 0;
}

textarea {
  width: 600px;
  height: 300px;
}

.container {
  margin: 20px;
}

.line-numbers a {
  padding-right: 20px;
  color: rgba(51, 122, 183, 0.36)
}
